@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <h2>
        Erro Inesperado, entre em contato com o Suporte.
    </h2>
</body>
</html>