@model _0001_DemonstracaoMVC.Models.Pessoa

@{
    ViewBag.Title = "Edit2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit2</h2>
@using (Html.BeginForm("Edit", "Pessoa",FormMethod.Post))
{ 
    @Html.ValidationSummary(false)
    @Html.HiddenFor(x => x.Id)
    <fieldset>
        <legend>Edição de Pessoas</legend>
    @Html.Partial("formulario", Model)
    </fieldset>
    <input type="submit" name="name" value="Enviar" />
}